<h1>Welcome!</h1>

<div class="play-container">
    <p>You've clicked  <span (click) = "countClick()">this </span> {{ clickCounter }} times</p>
</div>

<div class="play-container">
    <input type="text" [(ngModel)] = "name">
    <br>
    <strong>you said </strong> {{ name }}
</div>

<div class="play-container" [ngClass] = "setClasses()">

    <ng-template [ngIf]="clickCounter > 4" [ngIfElse] ="none">
        <p>Click counter is greater than 4</p>
    </ng-template>

    <ng-template #none>
        <p>Click counter not greater than 4</p>
    </ng-template>
</div>